@font-face {
  font-family: 'aladin';
  src: url('./Assets/fonts/aladin-v8-latin-regular.eot');
  src: local('seguisb'), url('./Assets/fonts/acme-v9-latin-regular.woff') format('woff'),
    url('./Assets/fonts/aladin-v8-latin-regular.ttf') format('truetype'),
    url('./Assets/fonts/aladin-v8-latin-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: aladin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
